{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %}Gestión de empleados{% endblock tittle %}</title>

    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'base/base.sass' %}">
    {% endcompress %}
</head>
<body class="app-body">
    <div class="app-shell">
        {% block body %}{% endblock body %}
    </div>
</body>
</html>