{% load static %}

<header class="topbar">
    <div class="topbar__brand">
        <div class="topbar__logo">DR</div>
        <div>
            <h1 class="topbar__title">Gestión de Personal</h1>
            <p class="topbar__subtitle">Administra empleados, departamentos y habilidades</p>
        </div>
    </div>

    <nav class="topbar__nav">
        <a href="{% url 'employer_app:ListarTodosLosEmpleados' %}">Empleados</a>
        <a href="{% url 'employer_app:AdministrarTodosLosEmpleados' %}">Administrar</a>
        <a href="{% url 'department_app:ListarDepartamentos' %}">Departamentos</a>
        <a href="{% url 'employer_app:ListarHabilidades' %}">Habilidades</a>
        <a href="{% url 'department_app:api_home' %}">API</a>
        <a href="{% url 'department_app:editar_local_settings' %}">Configuración</a>
        <a class="topbar__cta" href="{% url 'employer_app:CrearEmpleado' %}">+ Nuevo empleado</a>
    </nav>
</header>